<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sahiljain.tripTracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <permission
        android:name="me.sahiljain.tripTracker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="me.sahiljain.tripTracker.permission.C2D_MESSAGE" />


    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00200000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />


    <application
        android:name="me.sahiljain.tripTracker.main.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <!--android:theme="@style/AppTheme">-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:694932255843" />
        <!--Acctivity used to interact with DB-->
        <activity android:name="me.sahiljain.tripTracker.db.Persistence" />

        <!-- Making Tab Activity the main activity now -->
        <activity
            android:name="me.sahiljain.tripTracker.main.TabMainActivity"
            android:label="Trip Tracker"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Another child of the main tab activity -->
        <activity
            android:name=".windows.Preferences"
            android:label="Preferences"
            android:parentActivityName="me.sahiljain.tripTracker.main.TabMainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.sahiljain.tripTracker.main.TabMainActivity" />
        </activity>

        <!-- Another child of the main tab activity -Not using it in first release-Will be used in 2.4.1 :D-->
        <activity
            android:name="me.sahiljain.tripTracker.addTrip.AddATripFirstWindow"
            android:label="Add a Trip"
            android:parentActivityName="me.sahiljain.tripTracker.main.TabMainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.sahiljain.tripTracker.main.TabMainActivity" />
        </activity>

        <!-- Child of the TabMainActivity-->
        <activity
            android:name="me.sahiljain.tripTracker.addTrip.AddATripSecondWindow"
            android:label="Add Trip: Select Source"
            android:parentActivityName="me.sahiljain.tripTracker.main.TabMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.sahiljain.tripTracker.addTrip.AddATripFirstWindow" />
        </activity>

        <!-- Child of the Add Trip Second window-->
        <activity
            android:name="me.sahiljain.tripTracker.addTrip.AddATripThirdWindow"
            android:label="Add Trip: Select Destination"
            android:parentActivityName="me.sahiljain.tripTracker.addTrip.AddATripSecondWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.sahiljain.tripTracker.addTrip.AddATripSecondWindow" />
        </activity>

        <!-- Child of the Add Trip Second window-->
        <activity
            android:name="me.sahiljain.tripTracker.addTrip.AddATripFourthWindow"
            android:label="Add Trip: Select Friends"
            android:parentActivityName="me.sahiljain.tripTracker.addTrip.AddATripThirdWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.sahiljain.tripTracker.addTrip.AddATripThirdWindow" />
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="title_facebook_login" />

        <service
            android:name="me.sahiljain.tripTracker.notificationService.NotificationService"
            android:icon="@drawable/iconsmall"
            android:label="@string/app_name" />

        <!-- A child of the main activity -->
        <activity
            android:name=".windows.Notification"
            android:label="@string/action_notification"
            android:parentActivityName=".main.MapsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MapsActivity" />
        </activity>

        <!-- Another child of the main activity -Technically not a child because on back press
        it doesnt go to main activity>-->
        <activity
            android:name="me.sahiljain.tripTracker.main.IntroActivity"
            android:label="Welcome!" />

        <!-- A child of the intro activity -->
        <activity
            android:name="me.sahiljain.tripTracker.main.SignUpActivity"
            android:label="@string/YourPhone"
            android:parentActivityName="me.sahiljain.tripTracker.main.IntroActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.sahiljain.tripTracker.main.IntroActivity" />
        </activity>

        <!-- Another child of the main activity -->
        <activity
            android:name=".windows.StartJourney"
            android:label="Start Journey"
            android:parentActivityName=".main.MapsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MapsActivity" />
        </activity>

        <!-- Another child of the main activity -->
        <activity
            android:name=".windows.SearchResults"
            android:label="Search Results" />

        <!-- Another child of the prefernce  activity -->
        <activity
            android:name=".windows.Profile"
            android:label="Profile"
            android:parentActivityName=".windows.Preferences">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".windows.Preferences" />
        </activity>

        <!-- Another child of the prefernce  activity -->
        <activity
            android:name=".windows.NotificationSettings"
            android:label="Notification Settings"
            android:parentActivityName=".windows.Preferences">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".windows.Preferences" />
        </activity>
        <!-- Another child of the prefernce  activity -->
        <activity
            android:name=".windows.ListOfFriends"
            android:label="List of Friends"
            android:parentActivityName=".windows.Preferences">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".windows.Preferences" />
        </activity>

        <!-- Child of the TabMainActivity-->
        <activity
            android:name=".main.TripDetailedActivity"
            android:label="Trip Details"
            android:parentActivityName="me.sahiljain.tripTracker.main.TabMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.sahiljain.tripTracker.addTrip.AddATripFirstWindow" />
        </activity>


        <!--PARSE Code-->
        <service android:name="com.parse.PushService" />

        <!--The following receiver is for the devices in which GCM is not enabled-->
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!--The following receiver does the actual work of
        handling notifications and subscribing the user to a channel-->

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="me.sahiljain.tripTracker" />
            </intent-filter>
        </receiver>

        <!--
         My own receiver to hanlde notifications
         -->
        <receiver
            android:name="me.sahiljain.tripTracker.notificationService.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="me.sahiljain.tripTracker" />
            </intent-filter>
        </receiver>
        <service android:name="me.sahiljain.tripTracker.notificationService.NotificationIntentService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="436bb5e61ae900c10fbab6b38ddd628bd1592b32" />
    </application>
</manifest>
