<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sahiljain.locationstat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <permission
        android:protectionLevel="signature"
        android:name="me.sahiljain.locationstat.permission.C2D_MESSAGE" />
    <uses-permission android:name="me.sahiljain.locationstat.permission.C2D_MESSAGE" />


    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00200000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />


    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDJJyT2diQD4Hs7Zd4KoBk426wVdEkQJrw" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:694932255843" />

        <!-- Making Tab Activity the main activity now -->
        <activity
            android:name=".mainTab.TabMainActivity"
            android:label="Trip Tracker"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Another child of the main tab activity -->
        <activity
            android:name=".windows.Preferences"
            android:label="Preferences"
            android:parentActivityName=".mainTab.TabMainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainTab.TabMainActivity" />
        </activity>

        <!-- Another child of the main tab activity -->
        <activity
            android:name=".addTrip.AddATripFirstWindow"
            android:label="Add a Trip"
            android:parentActivityName=".mainTab.TabMainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainTab.TabMainActivity" />
        </activity>

        <!-- Child of the Add Trip First window-->
        <activity
            android:name=".addTrip.AddATripSecondWindow"
            android:label="Add a Trip"
            android:parentActivityName=".addTrip.AddATripFirstWindow">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".addTrip.AddATripFirstWindow" />
        </activity>

        <!-- Child of the Add Trip Second window-->
        <activity
            android:name=".addTrip.AddATripThirdWindow"
            android:label="Add a Trip"
            android:parentActivityName=".addTrip.AddATripSecondWindow">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".addTrip.AddATripSecondWindow" />
        </activity>

        <!-- Child of the Add Trip Second window-->
        <activity
            android:name=".addTrip.AddATripFourthWindow"
            android:label="Add a Trip"
            android:parentActivityName=".addTrip.AddATripThirdWindow">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".addTrip.AddATripThirdWindow" />
        </activity>

        <!-- This was main activity earlier -->
        <activity
            android:name=".main.MapsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="title_facebook_login" />

        <service
            android:name=".notificationService.NotificationService"
            android:icon="@drawable/iconsmall"
            android:label="@string/app_name" />

        <!-- A child of the main activity -->
        <activity
            android:name=".windows.Notification"
            android:label="@string/action_notification"
            android:parentActivityName=".main.MapsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MapsActivity" />
        </activity>

        <!-- Another child of the main activity -->
        <activity
            android:name=".main.WelcomeSignUp"
            android:label="Welcome!" />

        <!-- Another child of the main activity -->
        <activity
            android:name=".windows.StartJourney"
            android:label="Start Journey"
            android:parentActivityName=".main.MapsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MapsActivity" />
        </activity>

        <!-- Another child of the main activity -->
        <activity
            android:name=".windows.SearchResults"
            android:label="Search Results" />

        <!--
                    android:parentActivityName=".main.MapsActivity">
                    &lt;!&ndash; Parent activity meta-data to support 4.0 and lower &ndash;&gt;
                    <meta-data
                        android:name="android.support.PARENT_ACTIVITY"
                        android:value=".main.MapsActivity" />

                </activity>
        -->


        <!-- Another child of the prefernce  activity -->
        <activity
            android:name=".windows.Profile"
            android:label="Profile"
            android:parentActivityName=".windows.Preferences">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".windows.Preferences" />
        </activity>

        <!-- Another child of the prefernce  activity -->
        <activity
            android:name=".windows.NotificationSettings"
            android:label="Notification Settings"
            android:parentActivityName=".windows.Preferences">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".windows.Preferences" />
        </activity>
        <!-- Another child of the prefernce  activity -->
        <activity
            android:name=".windows.ListOfFriends"
            android:label="List of Friends"
            android:parentActivityName=".windows.Preferences">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".windows.Preferences" />
        </activity>

        <!--PARSE Code-->
        <service android:name="com.parse.PushService" />

        <!--The following reciever is for the devices in which GCM is not enabled-->
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!--The following receiver does the actual work of
        handling notifications and subscribing the user to a channel-->
        <receiver
            android:name=".notificationService.ParseNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="me.sahiljain.locationstat" />
            </intent-filter>
        </receiver>

        <!--
         My own receiver to hanlde notifications
         -->
        <receiver
            android:name=".notificationService.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="me.sahiljain.locationstat" />
            </intent-filter>
        </receiver>
        <service android:name=".notificationService.NotificationIntentService" />
    </application>
</manifest>
